<div class="container">
    <h2>Edit</h2>
    <div class="emailForm">
        <label>email</label><br/>
        <input class="form-control" type="text" name="email" [(ngModel)] = "ucenikDTO.email"/>
    </div>
    <div class="telefonForm">
        <label>telefon</label><br/>
        <input class="form-control" type="text" name="telefon" [(ngModel)] = "ucenikDTO.telefon"/>
    </div>
    <div class="usernameForm">
        <label>korisnicko ime</label><br/>
        <input class="form-control" type="text" name="username" [(ngModel)] = "ucenikDTO.korisnickoIme"/>
    </div>
    <div class="passwordForm">
        <label>sifra</label><br/>
        <input class="form-control" type="text" name="password" [(ngModel)] = "ucenikDTO.sifra"/>
    </div><br/>
    <div class="buttonForm">
        <button class="btn btn-success submitBtn" (click)="submit()">Submit</button>
    </div>
</div>