<div class="container">
    <h2>Ucenik</h2>
    <div class="indexID">
        <label>broj indeksa</label><br/>
        <input class="form-control" type="text" name="indexID" [(ngModel)] = "ucenikDTO.brojIndeksa"/> 
    </div>
    <div class="nameForm">
        <label>ime</label><br/>
        <input class="form-control" type="text" name="name" [(ngModel)] = "ucenikDTO.ime"/> 
    </div>
    <div class="subnameForm">
        <label>prezime</label><br/>
        <input class="form-control" type="text" name="subname" [(ngModel)] = "ucenikDTO.prezime"/>
    </div>
    <div class="jmbgForm">
        <label>jmbg</label><br/>
        <input class="form-control" type="text" name="jmbg" [(ngModel)] = "ucenikDTO.jmbg"/>
    </div>
    <div class="emailForm">
        <label>email</label><br/>
        <input class="form-control" type="text" name="email" [(ngModel)] = "ucenikDTO.email"/>
    </div>
    <div class="telefonForm">
        <label>telefon</label><br/>
        <input class="form-control" type="text" name="telefon" [(ngModel)] = "ucenikDTO.telefon"/>
    </div>
    <div class="usernameForm">
        <label>korisnicko ime</label><br/>
        <input class="form-control" type="text" name="username" [(ngModel)] = "ucenikDTO.korisnickoIme"/>
    </div>
    <div class="passwordForm">
        <label>sifra</label><br/>
        <input class="form-control" type="text" name="password" [(ngModel)] = "ucenikDTO.sifra"/>
    </div><br/>
    <div class="walletForm">
        <label>novcanik</label><br/>
        <input class="form-control" type="text" name="novcanik" [(ngModel)] = "ucenikDTO.novcanik"/>
    </div><br/>
    <div class="buttonForm">
        <button class="btn btn-success submitBtn" (click)="submit()">Submit</button>
      </div>
  
  </div>