<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of nastavnici" (click)="selectedNastavnik(n)">
        <td>{{ n.ime }}</td>
        <td>{{ n.prezime }}</td>
        <td>{{ n.email }}</td>
      </tr>
    </tbody>
  </table>
  <div></div>
  <button class="btn btn-primary active" role="button" aria-pressed="true" (click)="showNastavnikDodaj()">Dodaj</button>
</div>
<div *ngIf="nastavnikDodaj || nastavnik != null"> 
  <app-nastavnik-dodaj [nastavnik] = "nastavnik"></app-nastavnik-dodaj>
</div>
