<div class="loginForm container">
  <h2 class="loginTitle">Prijava</h2>
  <div class="usernameForm">
    <label>username</label><br />
    <input
      class="form-control"
      type="text"
      name="username"
      [(ngModel)]="korisnik.kIme"
    />
  </div>
  <div class="passwordForm">
    <label for>password</label><br />
    <input
      class="form-control"
      type="password"
      name="password"
      [(ngModel)]="korisnik.sifra"
    />
  </div>
  <br />
  <div class="buttonForm">
    <button class="btn btn-success loginBtn" (click)="login()">Sign in</button>
  </div>
</div>
